  @use './breakpoints' as *;
  :root {
    --container: 100%;
    @media(min-width: $small) {--container: 540px;}
    @media(min-width: $medium) {--container: 720px;}
    @media(min-width: $large) {--container: 960px;}
    @media(min-width: $xlarge) {--container: 1140px;}
    @media(min-width: $xxlarge) {--container: 1320px;}

    /* Font sizes */
    --fs-100: .5rem;
    --fs-400: 1rem;
    --fs-600: 2rem;
    --fs-900: 5rem;
  }