{% extends 'layouts/base.twig' %}

{% block content %}
<div class="container">
  <div class="container__outer">
    <div class="container__inner">
      <p class="subheading">Template: views/pages/index.twig</p>
      <h1 class="heading">{{ post.title }}</h1>
      <div>{{ post.content }}</div>
    </div>
  </div>
</div>
{% endblock %}