{% extends 'layouts/base.twig' %}

{% block content %}
  <section class="container searchResults">
    <div class="container__outer">
        <div class="container__inner">
        <p class="subheading">Template: views/pages/search.twig</p>
        <h1 class="heading">Search Results</h1>
          {% for post in posts %}
            <article class="searchResults__result">
              <h2><a href="{{ post.link }}">{{post.title}}</a></h2> - <time>{{ post.date }}</time>
              <p>{{post.preview.length(20).read_more('')}}</p>
            </article>
          {% endfor %}
        </div>
      </div>
  </section>
{% endblock %}